<div class="header">
      <h2>Blog City</h2>
      <% if session[:signed_in] %>
      <form action="/blogs/sign_out" method="post">
        <input type="submit" name="sign_out" value="Sign Out" />
      </form>
      <% else %>
      <form action="/blogs/sign_in" method="get">
        <input type="submit" name="sign_in" value="Sign In" />
      </form>
      <form action="/" method="get">
        <input type="submit" value="Sign up" />
      </form>
      <% end %>
</div>

<% @blogs.each do |blog| %>
<div class="row">
  <div class="card">
    <a href="/blogs/<%= blog[:id] %>">
      <p style="text-align:center"><%= blog[:blog_name] %> - <%= blog[:user_name] %></p>
    </a>
  </div>
</div>
<% end %>
