<div class="header">
     <h2>Change photo?</h2>
</div>

<div class="row">
    <div class="card">
        <p>Would you like to change the photo on this post?</p><br > <br >
        <form action=<%= "/blogs/posts/edit/" + @post_id.to_s + "/upload" %>  method="post"
        enctype="multipart/form-data">
          <label for="myfile">Select a file:</label>
          <input type="file" name="image">
          <br /><br />
          <input type="submit" value="Change"/><button><a href=<%="/blogs/posts/" + @post_id%>>Keep</a></button>
        </form>
    </div>
</div>
    
<div class="footer">
</div>